# Dependencies
node_modules

# Production build
dist

# Vite cache
node_modules/.vite
.vite

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# PWA and Service Worker cache
sw.js
workbox-*.js
manifest.json.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Browser cache folders
.cache
.parcel-cache
