#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
}

/* Lo quite por que el diseño se deteoraba por detras del body  */

/* html,
body, */


#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.p-datatable-header {
  background: #e3f2fd;
}